.islink:hover {
  text-decoration: underline;
  cursor:pointer;
}
.bg-nope {
  background: #303030 !important;
  border:none;
  border-bottom:3px solid #474747;
  border-radius:0;
}
.preview {
  background: #36393F;
  display: flex;
  box-orient: vertical;
  padding:10px;
  flex-direction: column;
}

.wrapper {
  display: flex;
  max-width: 520px;
}
* {
  outline: 0 !important;
}
button.close {
  transition: 0.3s;
}
button.collapsed {
  transform: rotateZ(180deg);
}
.side-colored {
  width: 4px;
  border-radius: 3px 0 0 3px;
  display:none;
  background: #ff00ff;
}
.embed {
  border-radius: 4px;
  background: #2F3136;
  border-color: #2F3136;
  display: flex;
  padding: 8px 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  border-left:4px solid #ff00ff;
}
.embed .card-block {
  padding: 0;
  display: flex;
  margin-bottom: 10px;
}
.embed a {
  color: #0096cf;
}
.embed img.big {
  max-width:100%;
  border-radius:5px;
}
.embed img.embed-thumb {
  max-height: 80px;
  max-width: 80px;
  border-radius: 5px;
  flex-shrink: 0;
  width: auto;
  object-fit: contain;
  margin-left: 20px;
}
.embed .embed-footer {
  font-size: 12px;
}
.embed .embed-footer span {
  color: rgba(255, 255, 255, 0.6);
}
.embed .embed-inner .embed-title {
  color: #fff;
}
.embed .embed-inner .embed-author {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.embed .embed-inner .embed-author img.embed-author-icon {
  margin-right: 9px;
  width: 20px;
  height: 20px;
}